{% extends 'dashboard/base.html' %}

{% block title %}Trash{% endblock %}

{% block content %}
<h1>Trash</h1>

<!-- components/search.html -->
{% include "dashboard/components/search.html" with search_placeholder="Search products..."%}

{% include "dashboard/components/counter.html" with whichone="product" %}

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Product name</th>
            <th>Variants</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.variant_count }}</td>
            <td>
                <a href="{% url 'dashboard:product_update' product.pk %}">Edit</a>
                <form method="post" action="{% url 'dashboard:product_restore' product.pk %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Restore</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="7">No products found.</td></tr>
        {% endfor %}
    </tbody>
</table>

<!-- components/pagination.html -->
{% include "dashboard/components/pagination.html" %}

{% endblock %}
