{% extends 'dashboard/base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<h1>Transactions</h1>

<a href="{% url 'dashboard:transaction_create' %}">+ Add New Transaction</a>

<!-- components/search.html -->
{% include "dashboard/components/search.html" with search_placeholder="Search products..."%}

{% include "dashboard/components/counter.html" with whichone="transactions" %}

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Variant</th>
            <th>Transaction Type</th>
            <th>Quantity</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
            <td>{{ transaction.variant }}</td>
            <td>{{ transaction.transaction_type }}</td>
            <td>{{ transaction.quantity }}</td>
            <td>{{ transaction.transaction_date }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="7">No transaction found.</td></tr>
        {% endfor %}
    </tbody>
</table>

<!-- components/pagination.html -->
{% include "dashboard/components/pagination.html" %}

{% endblock %}
